<div class="authform">
  <h3>Edit <%= resource_name.to_s.humanize %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
   <div class="form-group">
      <% if current_user.identities.empty? %>
        <fieldset>
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
            <%= f.label :self_intro %>
            <%= f.text_field :self_intro, :autofocus => true, class: 'form-control' %>

          </div>
          <%= f.submit 'Update Login Info', :class => 'button right' %>
        </fieldset>
      <% else %>
        <%= f.hidden_field :email %>
        <p>Email Address</p>
        <h4><%= current_user.email %></h4>
        <p> your account is linked to Facebook or Google.  You cannot change the email address, but you can change the username displayed on JCastle.
        </p>
          <fieldset>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
              <%= f.label :self_intro %>
              <%= f.text_field :self_intro, :autofocus => true, class: 'form-control' %>

            </div>
            <%= f.submit 'Update Login Info', :class => 'button right' %>
          </fieldset>
      <% end %>
    </div>



    <fieldset>
    <p>Enable social network logins.
    <div class="form-group">
      <% unless current_user.identities.exists?(:provider => 'facebook') %>
        <%= link_to user_omniauth_authorize_path(:facebook), class: "button radius" do %>
        <i class="fi-social-facebook"> </i> Facebook Login
        <% end %>
        <% end %>
      <% unless current_user.identities.exists?(:provider => 'google_oauth2') %>
        <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "button radius" do %>
        <i class="fi-social-google-plus"> </i> Google+ Login
        <% end %> 
      <% end %> 
        <span data-tooltip class="has-tip" title="Click here to link your Jcastle account to your Facebook or Google+ account.  Jcastle will not post to these sites but you can login automatically instead of remembering your email/password for Jcastle. Your email address above must be the same as your Facebook or Google+ email address. If you wish to change your email address to link accounts please do so first and save changes before linking accounts."><small>what's this?</small></span>        
    </div>
    </fieldset>


    <fieldset>
      <p>Change your password<br />
      Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <p>You must enter your current password to make any changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
            <%= f.submit 'Update', :class => 'button' %>
      </div>
    </fieldset>
  <% end %>
</div>
<div class="authform">
<h3>Cancel Account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
