<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="large-9 large-centered columns">
    <h3><%= @photo.imageable.castle_name_en %>
		<small>   		
		<%= link_to 'Edit', edit_admin_photo_path(@photo) %> |
		<%= link_to 'Back', admin_photos_path %>
		</small>
    </h3>
		<div class="row">
    		<div class="large-9 large-centered columns">
			<% unless @photo.fullpicture.nil? %>
   		 		<%= image_tag @photo.fullpicture %>
		 	<% end %>
		 	</div>
		</div>

	  	<div class="row">
				<% for column in Photo.content_columns %>
    		<div class="large-6 columns">
					<b><%= column.human_name %></b>: <%= @photo.send(column.name) %>
				</div>
		    <% end %>
		  </div>
	  </div>
	</div>

<h3>Tags</h3>
<ul>
<% for tag in @photo.tags %>
	<li>
		<%= link_to tag.tag_group, resource_path(Tagmap.where(tag_name: tag.tag_group).first.tag_resource) %>

		<% if tag.tag_name? %>&nbsp;&gt;&nbsp;
			<% if Tagmap.where(tag_name: tag.tag_name).exists? %>
				<%= link_to tag.tag_name, resource_path(Tagmap.where(tag_name: tag.tag_name).first.tag_resource) %>
			<% else %>  
				<%= tag.tag_name %>
			<% end %>
		<% end %>
		
		<% if tag.sub_tag? %>&nbsp;&gt;&nbsp;
			<% if Tagmap.where(tag_name: tag.sub_tag).exists? %>
				<%= link_to tag.sub_tag, resource_path(Tagmap.where(tag_name: tag.sub_tag).first.tag_resource) %>
			<% else %>  
				<%= tag.sub_tag %>
			<% end %>
		<% end %>

	</li>
<% end %>
</ul>
