<h1>Listing kokuins</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @kokuins.each do |kokuin| %>
      <tr>
      <td><%= image_tag 'resource/kokuin/thumbs/' + kokuin.thumbnail %></td>
        <td><%= kokuin.id %>
        <td><%= kokuin.shortDesc %>
        <td><%= link_to 'Show', admin_kokuin_path(kokuin) %></td>
        <td><%= link_to 'Edit', edit_admin_kokuin_path(kokuin) %></td>
        <td><%= link_to 'Destroy', admin_kokuin_path(kokuin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kokuin', new_admin_kokuin_path %>
