<h3>Home</h3>

<p>
<%= @identities.inspect %>
</p>
<p>
<%= current_user.inspect %> 
</p>

<h3>public models &amp; methods</h3>
<ul>
	<li><%= link_to 'Castles', castles_path %></li>
		
	<li><%= link_to 'Photos', photos_path %></li>
	<li><%= link_to 'Resources', resources_path %></li>
</ul>