<div class="row">
  <div class="large-4 columns"><h2>Listing Photos</h2></div>
  <div class="large-4 columns"><%= link_to 'New Photo', new_photo_path, {class: "button tiny radius"} %></small></div>
    <div class="large-4 columns"></div>

  </div>
<%= paginate @photos %>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>thumb</th>
      <th>photo</th>
      <th>method</th>
      <th>castle</th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.id %></td>
        <td><%= image_tag photo.thumbnail %></td>
        <td><%= photo.fullpicture %></td>
        <td><%= link_to 'Show', photo_path(photo) %></td>
        <td><%= link_to photo.imageable.castle_name_en, castle_path(photo.imageable)  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

